@import '~@angular/material/theming';

@include mat-core();

$kebstaurant-app-primary: mat-palette($mat-orange);
$kebstaurant-app-accent:  mat-palette($mat-deep-orange, A700, A100, A700);
$kebstaurant-app-theme:   mat-light-theme($kebstaurant-app-primary, $kebstaurant-app-accent);

@include angular-material-theme($kebstaurant-app-theme);
// @include mat-progress-bar-theme($kebstaurant-app-theme);